:root {
  --bg: white;
  --primary-color: rgb(5, 109, 232);
  --primary-light: rgba(5, 109, 232, 0.5);
  --primary-bg: rgba(33, 150, 243, 0.2);
  --text-color: #333;
  --text-secondary: #666;
  --shadow-color: hsla(0, 0%, 7%, 0.1);
  --backdrop-color: hsla(0, 0%, 7%, 0.65);
  --border-radius-sm: 2px;
  --border-radius: 4px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 25px;
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
}

[data-theme="dark"] {
  --bg: #191b1f;
  --primary-color: rgb(79, 195, 247);
  --primary-light: rgba(79, 195, 247, 0.5);
  --primary-bg: rgba(79, 195, 247, 0.2);
  --text-color: #e0e0e0;
  --text-secondary: #b0bec5;
  --shadow-color: hsla(0, 0%, 65%, 0.2);
  --backdrop-color: hsla(0, 0%, 7%, 0.85);
}
